body {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none
}

.my-canvas {
  position: relative;
  border: 1px solid #d3d3d3;
  background: white;
  //transform: scale(0.75);
}

.content {
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.line-bar {
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 999;
  width: 100%;
  background: #292728;
  button {
    display: inline-block;
    padding: 5px;
    color: white;
    background: transparent;
    border: none;
    outline: none;
  }
  .choose {
    color: dodgerblue;
  }
}

.scale-bar {
  position: fixed;
  top: 40px;
  right: 20px;
  text-align: center;
  z-index: 999;
  button {
    background: #292728;
    display: inline-block;
    width: 40px;
    //height: 40px;
    line-height: 40px;
    color: white;
    border: none;
    outline: none;
    font-size: 30px;
    margin-left: 10px;
  }
}

.mode-bar {
  position: fixed;
  top: 100px;
  right: 20px;
  text-align: center;
  z-index: 999;
  button {
    background: #292728;
    display: inline-block;
    //height: 40px;
    line-height: 40px;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    margin-left: 10px;
  }
}